/* este es un ejemplo de la rama css */

header{
    color: #2a9d8f;
    text-align: center;
    font-size: 20px; /* mejora visual */
}

nav{
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%; /* ancho */
    float: left;
    text-align: right;
}

nav a{
    color: #264653;
    text-align: right;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}

section img{
    height: 100%;
    width: 40%;
    float: left;
    margin-right: 30px;
}

section h2{
    color: #606c38;
}


footer{
    clear: both;/* Se manda para abajo, donde no haya nada en la izquierda y derecha */
    padding: 1px;
    text-align: center;
    margin: 10px;
    padding: 0px;
    color: #606c38;
}

footer a{
    text-decoration: none;
}

footer h3{
    margin: -15px;
    color: #3a0ca3;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container h1{
    color: #fff;
    font-size: 36px;
    margin-bottom: 40px;
}

.button{
    background: #fff;
    padding: 10px 15px;
    color: #34495e;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    margin-top: 25px;
    text-decoration: none;
    transition: 0.4s;
}

.button:hover{
    background: #2a9d8f;
    color: #fff;
}

.popup{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-content{
    height: 250px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

input{
    margin: 1px;
    display: block;
    width: 50%;
    padding: 2px;
    border: 1px solid #2a9d8f;
}

.close{
    position: absolute;
    top: -15px;
    right: -15px;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}